body{
    margin: 20px;
    background-color:rgb(126, 200, 200);
}
h1{
    text-align: center;
    color:cornflowerblue
}
h2{
    text-align: center;
}
img{ 
    margin: 0 auto;
    display: block;

}

#navbar{
    list-style-type: none;
    background-color: navy;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

#home{
    text-align: center;
    margin-left: 250px;
    margin-right: 250px;
    font-size: 40px;
    color: gray;
}
#resume{
    text-align: left;
    font-size: 35px;
    color:blue;
}
li{

    float: left;
}
#work{
    float: none;
}
dt{
    color: black;
}
dd{
    color: white;
    background-color: rgb(69, 67, 67);
    padding: 15px;
    margin: 5px;
}



